[ethernet]
src = 00:11:22:33:44:55
dst = 3C:FD:FE:55:20:FA

[ipv4]
src = 192.168.10.1
dst = 192.168.10.10

[udp]
dst = 6789

;request service time in nanoseconds
[requests_service_time]
short = 1000
long = 100000

[requests_ratio]
short = 1000
long = 0

;request classification time in nanosseconds
[classification_time]
time = 0
