[ethernet]
src = AA:BB:CC:DD:EE:FF
dst = 3c:fd:fe:8a:14:91

[ipv4]
src = 192.168.10.1
dst = 192.168.10.50

;[udp]
;dst = 6789

;request service time in nanoseconds
[requests_service_time]
short = 1000
long = 100000

; requests ratio in percentile (/10 to get correct rate)
[requests_ratio]
short = 500
long = 500

; Shinjuku mult-queue policy assume one dst port by request type
[requests_dst_ports]
short = 6789
long = 1234

;request classification time in nanosseconds
[classification_time]
time = 0
